<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<meta charset="utf-8"/>
<title>
    网站地图
</title>
<style>* {
    font-family: "微软雅黑";
    color: #333;
    padding: 0px;
    margin: 0px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #A10000;
}

li {
    list-style: none;
}

body {
    font-size: 14px;
}

.wzdt {
    width: 100%
}

.wzdt ul {
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.wzdt p.first {
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}</style>
<div class="wzdt">
    <ul class=" list-paddingleft-2">
        <li>
            <p>
                <a href="/swstyj/gkmlpt/index" target="_blank"> 政务</a>
            </p>
        </li>
        <li>
            <p>
                <a href="/swstyj/gkmlpt/index" target="_blank">机构 </a> |<a href="/swstyj/gkmlpt/guide" target="_blank">政府信息公开指南 </a>
                |
                <a href="/swstyj/gkmlpt/annualreport" target="_blank">政府信息公开年度报告 </a> | <a
                    href="http://ysq.shanwei.gov.cn/first-fd12b3aaba7c4de9a34e8a6c70f9b400.shtml" target="_blank">政府信息依申请公开 </a>
                |
                <a href="http://yjx.shanwei.gov.cn/" target="_blank">政府信息公开意见箱 </a> | <a href="/swstyj/gkmlpt/index"
                                                                                         target="_blank">部门文件 </a> |
            </p>
        </li>
        <li>
            <p>
                <a href="/swstyj/yaowen" target="_blank"> 要闻</a>
            </p>
        </li>
        <li>
            <p>
                <a href="/swstyj/yaowen/tzgg" target="_blank">通知公告 </a> |
                <a href="/swstyj/yaowen/gzdt" target="_blank">工作动态 </a> |
            </p>
        </li>
        <li>
            <p>
                <a href="/swstyj/fuwu" target="_blank"> 服务</a>
            </p>
        </li>
        <li>
            <p>
                <a href="/swstyj/fuwu/bszn/" target="_blank">办事指南 </a> | <a href="/swstyj/fuwu/zcfg" target="_blank">政策法规 </a>
                |<a href="/swstyj/fuwu/zcjd2" target="_blank">政策解读 </a> |
            </p>
        </li>
        <li>
            <p>
                <a href="/swstyj/hudong" target="_blank"> 互动</a>
            </p>
        </li>
        <li>
            <p>
                <a href="/swsxfj/" target="_blank">网上信访 </a> | <a href="/swstyj/hdjlpt" target="_blank">调查征集 </a> |
            </p>
        </li>
    </ul>
</div><!--!doctype-->
</body>
</html>